*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f7f9ff;
    color: #172554;
}

/* ============================ navbar ======================== */

.navbar{
    height: 60px;
    width: 100%;
    background-color: rgb(114, 119, 104);
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 45px;
    display: flex;
    border-bottom: 1px solid white;
}

.three-line a{
    font-size: 21px;
    margin-right: 5px;
}

.three-line{
    margin-left: -35px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo span {
    font-size: 42px;
    margin-bottom: 10px;
}

.logo b {
    font-size: 15px;
}

.nav-in {
    display: flex;
    gap: 30px;
}

.nav-in a{
    color: rgb(235, 227, 227);
    text-decoration: None;
}

.nav-in a:hover{
    color: rgb(163, 163, 171);
}

.login-button a {
    display: inline-block;

    background: #2563eb;
    color: white;

    text-decoration: none;

    padding: 10px 18px;

    border-radius: 6px;

    font-size: 17px;
}

/* ================= navbar complete ================= */

/* ================= main content ===================== */


.main-content{
    height: 641.5px;
    width: 100%;
    background-color: rgb(240, 233, 233);
    color: black;
    justify-content: space-between;
    padding-top: 10px;
    border-bottom: 1px solid;
}

.main-content h1{
    margin-left: 25px;
}

.main-content p{
    margin: 25px;
}

.get-started{
    margin-left: 25px;
}

.get-started a{
    text-decoration: none;
    display: inline-block;
    background: #2563eb;
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
    font-size: 15px;
    margin-bottom: 20px;
}

.get-started button{
    background: transparent;
    color: #2563eb;
    border: 2px solid #2563eb;
    padding: 10px 18px;
    border-radius: 6px;
    font-size: 12px;
    cursor: pointer;
    margin-left: 12px;
}

.heading-content-line h1,
.heading-content-line h2{
    display: inline;
    margin: 0;
    padding: 0;
}

.heading-content-line h2{
    color: blue;
}

.heading-content-line span{
    color: blue;
}

.heading-content-line{
    margin-left: 25px;
}

.student-picture img{
    height: 270px;
    margin-left: 25px;
}

.student-picture{
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.why-edupath{
    color: blue;
    margin: 0 0 20px 0;
    font-size: 40px;
}

.list{
    margin-left: 45px;
}

.list a{
    text-decoration: none;
}

/* ================== Main Content End ============= */

/* ===================== Footer =================  */

.footer {
    width: 100%;
    min-height: 60px;
    background: #172033;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}

.social-link {
    display: flex;
    gap: 20px;
}

.social-link a {
    color: white;
    text-decoration: none;
}

.social-link i {
    color: white;
    font-size: 20px;
}


